/* .card-deck .card {
  color:black;
} */

.card-deck {
  color: black;
}

.none {
  display: none;
}

.qrcode {
  height: 200px;
}

.card-deck .card {
  background: #dfe0e2;
  padding: 15px;
}

.list-group-flush>.list-group-item {
  background: #dfe0e2;
}

body {
  margin-top: 0px!important;
}

.modal-header {
  text-align: center;
}

.modal-body {
  text-align: center;
}

.modal-body .form-control {
  text-align: center;
}

.fixed-input {
  text-align: center;
  font-weight: bold;
}

.form-control:disabled, .form-control[readonly] {
background-color: transparent!important;
opacity: 1;
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 959px) {

}

@media (min-width: 576px) and (max-width: 767px) {
  .card-deck {
    display: block;
  }
}
@media (min-width: 491px) and (max-width: 575px) {
  .card-deck {
    display: block;
  }

}
@media (min-width: 348px) and (max-width: 490px) {
  .card-deck {
    display: block;
  }


}
@media (max-width: 347px) {
  .card-deck {
    display: block;
  }
}
