.full-width {
  width: 100%
}

.img-fluid {
  width: 100%;
  height: 600px;
  object-fit: cover;
  background: black;
  background-image: linear-gradient();
}

.index-header-left {
  font-size: 56px;
  text-align: left;
  font-weight: 900;
  color: #8b233f;
}

.justify {
  text-align: justify;
}
